
.jumbotron {
  background-color: #FFFFFF;
  background-size: cover;
  background-image: url('')
}

.jumbotron .container {
  font-family: 'Rye', cursive;
  text-align: center;
}

.jumbotron .container img {
  height: 250px;
  width: auto;
}


.nl-search .container .nl-form {
  margin-top: -50px;
  margin-left: 350px;
}

.willy .container img {
  height: 200px;
  width: 200px;
}
