/* Signup form */
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {text-align: center;}

.signin-form .container, .signup-form .container {
  height: 500px;
  width: 420px;
}

/*.signup-form .container,*/
form input#username,
form input#email,
form input#password,
form input#confirm {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  margin-bottom: 10px;
}

form input#submit {
  padding: 10px;
}

form input#submit:hover {
  background-color: #05c1ff;
  border: 1px solid #05c1ff;
  color: #fff;
}
