/* Base.html */

.nav-bar .container {
  font-family: 'Didact Gothic', sans-serif;
  width: auto;
  /*margin-top: 20px;*/
  padding: 20px 0;
  background-color:#333333;
}
.login {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/*.........................................*/
/* Homepage.html *
