/* Base.html */

html, body {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
header .navbar {
  margin: 0;
}

header .navbar .container{
  background-color: #1f0000;
  width: 100%;
}

 .col-md-4 a, .col-xs-4 a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rye', cursive;
  padding: 20px;
}

 .col-md-4 a:hover, .col-xs-4 a:hover{
   color: #68feff;
 }

 .pull-right {
   margin-top: -20px;
 }

.right{
  text-align: right;
  padding-top: 40px;
}

.left{
  padding-top: 40px;
  margin-right: 50px;
}

a:hover{
  text-decoration: none;
}

.logo h3 {
  padding: 30px 5px;
  margin: 0px;
  background-color:#ffffff;
  text-align: center;
  color:#1f0000;
  font-family: 'Rye', cursive;
  text-decoration: none;
}

.logo h3:hover{
  background-color: #e0ffff;
}




/*Footer*/

footer {
  background-color: #FF3030;
  color: #fff;
  text-align: left;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
