<!doctype html>
<html>
<head>
  <title>Line, Pls!</title>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="YOUTUBE_CLIENT_ID.apps.googleusercontent.com">
</head>

<body>
 
 <h1>Line, Pls!</h1>
 <h3>Your own personal Shakespeare Squad</h3>
 <h5>An online community for breaking down William's words for humans in 2015.</h5>
  
  {% block content %} put your content here {% endblock %}


<footer>Copyright 2015 Line,Pls!</footer>
</body>
</html>