{% extends 'base.html' %}


{% block jumbotron %}

   <h1>Line Pls</h1>
   <h3>Crowdsourced Annotations on Shakespeare</h3>
   <h5>Or an online community for actors and hipsters with pretentious squad goals.</h5>

{% endblock %}



{% block content %}
  <style>
  .node {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }

  .link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }
  </style>

  <script>
  var width = 960,
      height = 500,
      root;

  var force = d3.layout.force()
      .size([width, height])
      .on("tick", tick);

  var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);

  var link = svg.selectAll(".link"),
      node = svg.selectAll(".node");

  // d3 ajax

  d3.json("/genres.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });

  d3.json("/plays.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });

  d3.json("/characters.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });

  d3.json("/monologues.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });

  d3.json("/comments.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });

  d3.json("/users.json", function(error, json) {
  if (error) return console.warn(error);
  root = json;
  visualizeit();
  });


  function visualizeit() {
    var nodes = flatten(root),
        links = d3.layout.tree().links(nodes);

    // Restart the force layout.
    force
        .nodes(nodes)
        .links(links)
        .start();

    // Update the links…
    link = link.data(links, function(d) { return d.target.id; });

    // Exit any old links.
    link.exit().remove();

    // Enter any new links.
    link.enter().insert("line", ".node")
        .attr("class", "link")
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    // Update the nodes…
    node = node.data(nodes, function(d) { return d.id; }).style("fill", color);

    // Exit any old nodes.
    node.exit().remove();

    // Enter any new nodes.
    node.enter().append("circle")
        .attr("class", "node")
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; })
        .style("fill", color)
        .on("click", click)
        .call(force.drag);
  }

  function tick() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }

  // Color leaf nodes orange, and packages white or blue.
  function color(d) {
    return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
  }

  // Toggle children on click.
  function click(d) {
    if (!d3.event.defaultPrevented) {
      if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
      update();
    }
  }



  </script>
  {% endblock %}
<!-- <h1>Shakespeare</h1>
<h2>Plays</h2>
<p><a href="/plays">View all plays</a></p> -->
