{% extends 'base.html' %}

{% block css%}
<link rel="stylesheet" href="/static/css/homepage.css">
<link rel="stylesheet" href="/static/css/d3.css">
{% endblock %}

{% block d3 %}<script src="http://d3js.org/d3.v3.js"></script>{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
       <h1>Line Pls</h1>
       <h3>Crowdsourced Annotations on Shakespeare</h3>
       <h5>Or an online community for actors and hipsters with pretentious squad goals.</h5>
    </div>
  </div>

{% endblock %}



{% block content %}

<div class="nl-search">
  <div class="container">
    <form id="nl-form" class="nl-form">
	Shakespeare, I'm looking for a
	<select>
		<option value="1" selected>play</option>
		<option value="2">character</option>
		<option value="3">monologue</option>
	</select>
	<br /> that is
	<select>
		<option value="1" selected>any genre</option>
		<option value="2">a Comedy</option>
		<option value="3">a History</option>
		<option value="4">a Tragedy</option>
	</select>
	and
	<select>
		<option value="1" selected>nothing else.</option>
	 	<option value="1">has annotations</option>
	 	<option value="2">has youtube videos</option>
	</select>
	<div class="nl-submit-wrap">
		<button class="nl-submit" type="submit">Let's Go.</button>
	</div>
	<div class="nl-overlay"></div>
</form>
</div>
</div>


<script src="/static/javascript/script.js"></script>

  {% endblock %}
<!-- <h1>Shakespeare</h1>
<h2>Plays</h2>
<p><a href="/plays">View all plays</a></p> -->
