{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" src="/static/css/monologue.css">{% endblock %}


{% block content %}

<!--Displays monologue information based on monologue id in database-->
<div class="mono_details">
  <div class="container">
  <h1>Monologue: {{ mono_id }} </h1>
    <ul>
      <li>Play: <b>{{ play_title }}</b></li>
      <li>Act: {{ act }}</li>
      <li>Scene: {{ scene }}</li>
      <li>Description: {{ description }} </li>
    </ul>
  </div>
  </div>
<!--Monologue Text-->
    <h3> {{ name }}: </h3>
    <!--Loops through the list 'text' and displays each element, which is a line of the monologue-->
    {% for line in text %}
      <div class="text" id="line">{{ line|safe }}
          <img src="https://cdn4.iconfinder.com/data/icons/flat-icon-set/128/chat-icon.png" alt="comment-icon" width="20" height="20" id="{{ loop.index0 }}" class="text-bubble">
      </div>
<div class="add-comment" id="add-{{ loop.index0 }}" style="display:none">
<!--Comment icon-->
<!-- comment form that sends text + monologue info to server.py when submitted -->
  <form action="/comments" method="POST">
    <label for="comment">How would you say this in 2015?:</label>
    <textarea name="comment-text"></textarea>
    <input type="hidden" name="mono_id" value="{{ mono_id }}">
    <input type="hidden" name="line_id" value="{{ loop.index0 }}">
    <input type="submit" value="translate"/>
</form>
</div>

{% endfor %}

<!-- Fix me-->
<!--jQuery to show/hide comment box-->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
  // var target;
      var tlist = $(".text-bubble");
      for (var i = 0; i < tlist.length; i++){
         $(tlist[i]).on("click", function(){
            $("#add-"+ this.id ).toggle();
          });
        }
  </script>

{% endblock %}
