{% extends 'base.html' %}
{% block content %}

<!--return render_template("monologue.html", mono_id=mono_id, name=name, play_title=play_title, act=act, scene=scene, description=description, text=text)-->

<h1>Monologue: {{ mono_id }} </h1>
<ul>
    <li>Play: <b>{{ play_title }}</b></li>
    <li>Act: {{ act }}</li>
    <li>Scene: {{ scene }}</li>
    <li>Description: {{ description }} </li>
</ul>

<h3> {{ name }}: </h3>

{% for line in text %}
<!-- How do I pass/identify the index of the line? -->
<!--when you hover over div class, img icon appears-->
<!--when you click on img icon, text box appears -->
  <div class="line">{{ line|safe }}</div>
  {{loop.index0}}
  <div class="add-comment" style="{display:none}">
  <a href="#">
    <img src="https://cdn4.iconfinder.com/data/icons/flat-icon-set/128/chat-icon.png" alt="comment-icon" width="20" height="20">
  </a>
  <!-- create a hidden attribute that you can pass over with the form info. word. -->
    <form action="/comments" method="POST">
      <label for="comment">How would you say this in 2015?:</label>
      <textarea name="comment-text"></textarea>
      <input type="hidden" name="mono_id" value="{{ mono_id }}">
      <input type="hidden" name="line_id" value="{{ loop.index0 }}">
      <input type="submit" value="translate"/>
  </form>
</div>

  <script>
      $(".line").click(function() {
        $(".add-comment").toggle(display);
      });
  </script>

{% endfor %}



<!-- for line in text
print div (has an attribute with val in curly braces w mono id + list index) item  -->


{% endblock %}
