{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" src="/static/css/monologue.css">{% endblock %}


{% block content %}

<!--Displays monologue information based on monologue id in database-->
<div class="mono_details">
  <div class="container">
  <div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
  <h1>{{ name }} </h1>
    <ul>
      <li><h2><b>{{ play_title }}</b><h2></li>
      <li>Act: {{ act }} | Scene: {{ scene }}</li>
      <li>Description: {{ description }} </li>
    </ul>
    <h3> {{ name }}: </h3>
  </div>
</div>
</div>

<div class="container">

<!--Monologue Text-->
    <!--Loops through the list 'text' and displays each element, which is a line of the monologue-->
      <ul>
        {% for line in text %}
        <!--Displays each line in the monologue-->
        <div class="col-md-4">
        <div class="add-comment" id="add-{{ loop.index0 }}" style="display:none">
        <!-- comment form that sends text + monologue info to server.py when submitted -->
          <form action="/comments" method="POST">
            <label for="comment">Acting Coach Notes:</label>
            <textarea name="comment-text"></textarea>
            <input type="hidden" name="mono_id" value="{{ mono_id }}">
            <input type="hidden" name="line_id" value="{{ loop.index0 }}">
            <input type="submit" value="translate"/>
          </form>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <li class="text" id="line"><img src="https://cdn4.iconfinder.com/data/icons/flat-icon-set/128/chat-icon.png" alt="comment-icon" width="20" height="20" id="{{ loop.index0 }}" class="text-bubble">
              {{ line|safe }}
              <!--Comment icon-->
                </li>
          </div>
      <!--POP OVER FORM-->

        </div> <!-- close row -->
        {% endfor %}
      </ul>
</div> <!-- close container-->

</div> <!--closes row-->
</div> <!--closes add-comment div-->
</div> <!--closes container div-->
</div> <!--closes mono-details div-->

<!--Div that floats comments/youtube divs to right of page-->
<div class="cmt-yt">
  <div class="container">
  <div class="row">
  <div class="col-md-5 col-xs-5">
      <!--Display Comments div-->
      <div class="comment-display">


</div> <!--closes col-md-5 col-xs-5 -->
</div> <!--closes row -->
</div> <!--closes container-->
</div> <!--closes cmt-yt-->


<!-- Fix me-->
<!--jQuery to show/hide comment box-->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
  var target;
      var tlist = $(".text-bubble");
      for (var i = 0; i < tlist.length; i++){
         $(tlist[i]).on("click", function(){
            $("#add-"+ this.id ).toggle();
          });
        }

//     $('#popover').popover({
//     html : true,
//     title: function() {
//       return $("#popover-head").html();
//     },
//     content: function() {
//       return $("#popover-content").html();
//     }
// });
  </script>

{% endblock %}
