{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/myaccount.css">{% endblock %}

{% block content %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="menu row">
            <div class='menu-item selected'>
                <img src="{{ picture }}" alt="self" width="300">
                  <h5><a href="/account">Basic Information</a></h5>
            </div><!--closes menu-item selected-->
              <div class='menu-item'>
                <h5><a href="/password/{{session['username']}}">Password</a></h5>
              </div><!--closes menu-item-->
            <div class='menu-item'>
                <h5><a href="/account">Manage Youtube</a></h5>
            </div><!--closes menu-item-->
            <div class='menu-item'>
                <h5><a href="/account">Manage Comments</a></h5>
            </div><!--closes menu-item-->
        </div><!--closes menu row-->
      </div><!--closes col-md-4 xs-4-->
      <div class="col-md-4 col-xs-4 acct">

        <div id="basic_info">

          <h1>Basic Information</h1>
            <!-- Starts form -->
            <form action="/update_profile" method="post">
              <div class="form-group">
                  <label for="field-name">Name</label>
                    <input type="text" name="name" class="form-control"
                    id="field-name" placeholder="Name" value="{{ name }}">
                </div><!--closes form-group-->
              <div class="form-group">
                  <label for="field-email">Email(required)</label>
                    <input type="email" name="email" class="form-control"
                        id="field-email" value="{{session['email']}}">
              </div><!--closes form-group-->
              <div class="form-group">
                  <label for="field-username">Username(required)</label>
                    <input type="text" name="username" class="form-control"
                      id="field-username" value="{{session['username']}}">
              </div><!--closes form-group-->
              <div class="form-group">
                  <label for="field-bio">About Me</label>
                    <textarea name="bio" class="form-control"
                          id="field-bio" placeholder="About Me">{{bio}}</textarea>
              </div><!--closes form-group-->
              <div class="form-group">
                  <label for="field-web">Website</label>
                    <input type="text" name="web" class="form-control"
                       id="field-web" placeholder="http://" value="{{ web }}">
              </div><!--closes form-group-->
              <div class="form-group">
                <label for="field-twitter">Twitter</label>
                  <input type="text" name="twitter" class="form-control"
                      id="field-twitter" placeholder="Twitter" value="{{ twitter }}">
              </div><!--closes form-group-->
              <div class="form-group">
                <label for="field-instagram">Instagram</label>
                  <input type="text" name="instagram" class="form-control"
                      id="field-instagram" placeholder="Instagram" value="{{ instagram }}">
              </div><!--closes form-group-->
              <div class="form-group">
                <label for="field-snapchat">Snapchat</label>
                  <input type="text" name="snapchat" class="form-control"
                      id="field-snapchat" placeholder="Snapchat" value="{{ snapchat }}">
              </div><!--closes form-group-->
              <div class="form-group">
                <label for="field-picture">Picture URL</label>
                  <input type="text" name="picture" class="form-control"
                      id="field-picture" placeholder="You're so pretty!" value="{{ picture }}">
              </div><!--closes form-group-->
           <input class="submit" type="submit" value="UPDATE PROFILE">
          </form>
          <!-- End Form -->

            <h1>Upload your Reel</h1>
            <!-- Start Form -->
              <form action="/reel" method="post">
                <div class="form-group">
                  <label for="field-url"><h6>video key: <b>http://youtu.be/[this_is_your_key]<b></h6></label>
                    <input type="text" name="reel" class="form-control"
                      id="field-url" min="7" max="11"
                     placeholder="just paste the key, not the http://youtu.be/ part ........">
                </div><!--closes form-group-->
                <div class="form-group">
                    <input class="submit" type="submit" value="add video">
                </div><!--closes form-group-->
              </form><!--closes form-->

    </div><!--closes basic info-->
   </div><!--closes col-md-4-->
  </div> <!--closes row-->
 </div><!--closes container-->
</div><!--closes main-->


{% endblock %}
