{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/myaccount.css">{% endblock %}

{% block content %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <div class="menu row">
            <div class='menu-item selected'>
              <h5><a href="/account">Basic Information</a></h5>
            </div>
            <div class='menu-item'>
              <h5><a href="/account">Password</a></h5>
            </div>
            <div class='menu-item'>
              <h5><a href="/account">Manage Youtube</a></h5>
            </div>
            <div class='menu-item'>
              <h5><a href="/account">Manage Comments</a></h5>
            </div>
          </div>
      </div>
        <div id="basic_info">
          <div class="col-md-4 col-xs-4 acct">
          <h1>Basic Information</h1>
      <form action="/update_profile" method="post">
      <div class="form-group">
          <label for="field-name">Name</label>
          <input type="text" name="name" class="form-control" id="field-name" placeholder="Name" value="{{ name }}">
      </div>
      <div class="form-group">
          <label for="field-email">Email(required)</label>
          <input type="email" name="email" class="form-control" id="field-email" value="{{session['email']}}">
      </div>
      <div class="form-group">
          <label for="field-username">Username(required)</label>
          <input type="text" name="username" class="form-control" id="field-username" value="{{session['username']}}">
      </div>
      <div class="form-group">
          <label for="field-bio">About Me</label>
          <textarea name="bio" class="form-control" id="field-bio" placeholder="About Me">{{bio}}</textarea>
      </div>
      <div class="form-group">
          <label for="field-web">Website</label>
          <input type="text" name="web" class="form-control" id="field-web" placeholder="http://" value="{{ web }}">
      </div>
     <div class="form-group">
         <label for="field-twitter">Twitter</label>
         <input type="text" name="twitter" class="form-control" id="field-twitter" placeholder="Twitter" value="{{ twitter }}">
     </div>
     <input class="submit" type="submit" value="UPDATE PROFILE">
    </form>



    </div>
  </div>
        </div>
      </div>
    </div>


{% endblock %}
