{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/myaccount.css">{% endblock %}

{% block content %}

<!--Renders view for changing your password. 9/6/15 - NEEDS BUG FIXES -->

<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-xs-4">
        <div class="menu row">

            <div class='menu-item selected'>
              <img src="{{ session['picture'] }}" alt="self" height="300" width="300">
                <h5><a href="/account">Basic Information</a></h5>
            </div><!--closes menu-item selected-->
                <div class='menu-item'>
                  <h5><a href="/account">Password</a></h5>
                </div><!--closes menu-item-->
                <div class='menu-item'>
                  <h5><a href="/account">Manage Youtube</a></h5>
                </div><!--closes menu-item-->
                <div class='menu-item'>
                  <h5><a href="/account">Manage Comments</a></h5>
                </div><!--closes menu-item-->

        </div><!--closes menu row-->
      </div><!--closes col-md-4 col-xs-4-->

      <div id="basic_info">
        <div class="col-md-4 col-xs-4 acct">

          <h2>Update Password</h2>
          <!-- FIX ME -->
            <div class="change-pw">

              {% for message in form.password.errors %}
                <div class="flash">{{ message }}</div>
              {% endfor %}

              <form action="{{ url_for('password' + str(session['username'])) }}" method=post>

                {{ form.password.label }}
                {{ form.password }}

                {{ form.confirm.label }}
                {{ form.confirm }}

                {{ form.submit }}
              </form>

            </div><!--closes change-pw-->

          </div><!--closes col-md-4 col-xs-4 acct-->
        </div><!--closes basic_info-->

    </div><!--closes row-->
  </div><!--closes container-->
</div><!--closes main-->

{% endblock%}
