{% extends 'base.html' %}
{% block content %}

<h1>Play Details</h1>
<ul>
    <li> Title: <b>{{title}}</b></li>
    <li> Long Title: {{long_title}}</li>  <!--This will be null for most of them  -->
    <li> Date: {{ date }}</li>
</ul>

<h3>Characters</h3>

      {% for character in characters %}
        <div><a href="/characters/{{ character.char_id }}">{{ character.char_name }} </a>
            <ul>
              <li> Monologue Count: {{ character.mono_count}} </li>
            </ul>
         </div>
      {% endfor %}




{% endblock %}
