{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/signup-login.css"> {% endblock %}

{%block content %}

<h2>Wanna join the Line,Pls Ensemble?</h2>
<div class="signup-form">
  <div class="container">
  {% for message in form.firstname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.lastname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('signup') }}" method="post">

    {{ form.firstname.label }}
    {{ form.firstname }}

    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password.label }}
    {{ form.password }}

    {{ form.submit }}
  </form>
</div>
</div>

{% endblock %}
