{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/signup-login.css"> {% endblock %}

{% block content %}

<!--Form for Sign In - for breakdown of python, see forms.py -->

<h2>Sign In</h2>
<h4>Call Time: Now-O-Clock</h4>

<div class="signin-form">
  <div class="container">

      {% for message in form.username.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.password.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

    <form action="{{ url_for('signin') }}" method=post>

      {{ form.username.label }}
      {{ form.username }}

      {{ form.password.label }}
      {{ form.password }}

      {{ form.submit }}
    </form><!--closes form-->
  </div><!--closes container-->
</div><!--closes signin-form-->

{% endblock %}
